@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #11C0E7;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.header_title {
  font-size: 64px;
  font-family: "Modak", cursive;
  color: #D81159;
  font-weight: normal;
}

.content {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.content_popup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: none;
}
.content_popup--selector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 200px;
  background-color: #D81159;
  border-radius: 15px;
  box-shadow: 0, 2px, 5px, 5px, white;
  position: relative;
}
.content_popup--selector--close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  color: white;
  transform: rotate(45deg);
  cursor: pointer;
}
.content_popup--selector--close:hover {
  font-size: 40px;
  top: 5px;
}
.content_popup--selector--button {
  height: 35px;
  width: 70px;
  margin: 10px;
  border-radius: 10px;
  background-color: #115463;
  color: #eee;
  border: none;
  font-size: 15px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.content_popup--selector--button:focus {
  background-color: #11C0E7;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
.content_popup--selector--continue {
  height: 40px;
  width: 100px;
  font-size: 15px;
  background-color: green;
  margin-top: 30px;
  color: #eee;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.content_popup--selector--continue:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #11C0E7;
}

.content_bill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  text-align: center;
}

.content_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: grey;
}

.content_people {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  text-align: center;
}

.end {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.end_calculate {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: #D81159;
  color: #eee;
  font-size: 20px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
}