@use "../base/base.scss";

.content_people {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}