@use "../Base/base.scss";

.content_popup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;


    &--selector {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 300px;
        width: 200px;
        background-color: #D81159;
        border-radius: 15px;
        box-shadow: 0, 2px, 5px, 5px, white;
        position: relative;

        &--close {

            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 30px;
            color: white;
            transform: rotate(45deg);
            cursor: pointer;
        }

        &--close:hover {
            font-size: 40px;
            top: 5px;
        }

        &--button {
            height: 35px;
            width: 70px;
            margin: 10px;
            border-radius: 10px;
            background-color: #115463;
            color: #eee;
            border: none;
            font-size: 15px;
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);

        }

        &--button:focus {
            background-color: #11C0E7;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
        }

        &--continue {
            height: 40px;
            width: 100px;
            font-size: 15px;
            background-color: green;
            margin-top: 30px;
            color: #eee;
            border-radius: 10px;
            border: none;
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
        }

        &--continue:focus {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
        }
    }
}

